header {
  align-items: center;
  animation: changeShadowColor 6s ease-in-out infinite;
  background-color: rgb(20, 20, 20);
  display: flex;
  height: 80px;
  justify-content: space-around;
  width: 100%;
}

.header__logo img {
  height: 60px;
  margin-right: 40px;
}

.header__logo {
  align-items: center;
  display: flex;
}

.header__navbar {
  display: flex;
  justify-content: space-around;
  width: 30vw;
}

.header__navbar a {
  background-color: rgba(0, 0, 0, 0.61);
  border: 1px solid rgba(0, 0, 0, 0.342);
  border-radius: 20px;
  color: whitesmoke;
  font-size: 1.5rem;
  padding: 6px 24px 4px;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.header__navbar a:hover {
  background-color: rgba(245, 245, 245, 0.89);
  color: rgb(20, 20, 20);
}

.header__username {
  font-size: 1.7rem;
  width: 30vw;
}
