header {
  align-items: center;
  animation: changeShadowColor 6s ease-in-out infinite;
  background-color: rgb(20, 20, 20);
  display: flex;
  height: 80px;
  justify-content: space-around;
  width: 100%;
}

.header__logo img {
  height: 60px;
  margin-right: 40px;
}

.header__logo {
  align-items: center;
  display: flex;
}

.header__navbar {
  display: flex;
  justify-content: space-around;
  width: 30vw;
}

.header__navbar a {
  background-color: rgba(0, 0, 0, 0.61);
  border: 1px solid rgba(0, 0, 0, 0.342);
  border-radius: 20px;
  color: whitesmoke;
  font-size: 1.5rem;
  padding: 6px 24px 4px;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.header__navbar a:hover {
  background-color: rgba(245, 245, 245, 0.89);
  color: rgb(20, 20, 20);
}

.header__username {
  font-size: 1.7rem;
  width: 30vw;
}

@media ( max-width : 768px ) {

  .header__navbar {
    display: none;
  }

  .header__navbar.show-menu {
    background-color: red;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    min-width: 80vw;
    position: relative;
    right: 10vw;
    top: 50vh;
  }

  .hamburger {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 5vw;
  }

  .hamburger span {
    background-color: whitesmoke;
    display: block;
    height: 3px;
    margin-bottom: 5px;
    transition: transform 0.2s , opacity 0.2s;
    width: 30px;
  }

  .hamburger.active span:first-child {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active span:nth-child( 2 ) {
    opacity: 0;
  }

  .hamburger.active span:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }
}
