.login__container {
  align-items: center;
  animation: changeBorderColor 6s linear infinite , float 6s linear infinite;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 30vw;
  justify-content: center;
  margin-inline: auto;
  position: relative;
  top: 20vh;
  width: 50vw;
}

.login__form {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: 200px;
  justify-content: space-around;
  position: absolute;
}

.login__form input, .login__form button {
  border: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px #018552;
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
  width: 300px;
}

.login__form button:enabled {
  animation: changeBgColor 6s linear infinite;
}

.login__form button:hover {
  cursor: pointer;
}

.login__form button:disabled {
  background-color: rgb(156, 156, 156);
}

.login__title {
  position: absolute;
  top: -12%;
}

.login__logo {
  position: absolute;
  top: 4%;
  width: 160px;
}
