.profile__container {
  display: flex;
  justify-content: space-between;
}

.profile__name {
  font-size: 2rem;
}

.profile__email, .profile__description {
  font-size: 1.5rem;
}

.profile__label {
  color: rgb(194, 194, 194);
  margin-bottom: 5px;
  margin-top: 40px;
}

.profile__image, .profile__image img {
  border-radius: 20px;
  box-shadow: 5px 5px 10px black , 5px 5px 10px black , 5px 5px 5px black;
  max-height: 500px;
  max-width: 500px;
}

.profile__data {
  background-color: rgba(0, 0, 0, 0.541);
  border-radius: 20px;
  box-shadow: 5px 5px 10px #303030 , 5px 5px 10px #303030 , 5px 5px 5px #303030;
  padding-inline: 40px;
  width: 50%;
}

.link {
  animation: changeBorderColor 6s linear infinite;
  border-radius: 40px;
  color: #00ff80;
  display: block;
  font-size: 1.5rem;
  margin: 20px auto 40px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s ease-in-out , background-color 0.2s ease-in-out;
  width: 200px;
}

.link:hover {
  background-color: #00ff80e3;
  color: black;
}

.link:active {
  transform: translateY(5px);
}

@media screen and ( max-width : 768px ) {

  .profile__container {
    align-items: center;
    flex-direction: column;
    margin-left: -6vw;
  }

  .profile__label {
    color: rgb(173, 173, 173);
    margin-top: 20px;
  }

  .profile__name {
    font-size: 1.5rem;
  }

  .profile__email, .profile__description {
    font-size: 1.3rem;
  }

  .profile__image, .profile__image img {
    height: 75vw;
    margin-top: -8px;
    width: 75vw;
  }

  .profile__data {
    margin-top: 20px;
    padding-inline: 20px;
    width: 75vw;
  }

  .link {
    animation: changeBorderColor 6s linear infinite;
    border-radius: 40px;
    color: #00ff80;
    display: block;
    font-size: 1.5rem;
    margin: 20px auto 40px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    transition: color 0.2s ease-in-out , background-color 0.2s ease-in-out;
    width: 200px;
  }

  .link:hover {
    background-color: #00ff80e3;
    color: black;
  }

  .link:active {
    transform: translateY(5px);
  }

}

@media ( min-width : 768px ) and ( max-width : 1024px ) {

  .album__container {
    max-width: 85vw;
  }

}
