@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;600&display=swap');

@keyframes changeBorderColor {

  0%, 100% {
    border: 2px solid #00b0e5;
    box-shadow: 0 0 10px 4px #00b0e53a;
  }

  33% {
    border: 2px solid #00f7ff;
    box-shadow: 0 0 10px 4px #00f7ff3a;
  }

  66% {
    border: 2px solid #00ff80;
    box-shadow: 0 0 10px 4px #00ff803a;
  }
}

@keyframes changeBgColor {

  0%, 100% {
    background-color: #00e5c6b0;
  }

  33% {
    background-color: #00ff95b0;
  }

  66% {
    background-color: #00ffbfb0;
  }
}

@keyframes changeCheckboxBgColor {

  0%, 100% {
    fill: #00b0e5;
  }

  33% {
    fill: #00f7ff;
  }

  66% {
    fill: #00ff80;
  }
}

@keyframes changeColor {

  0%, 100% {
    color: #00b0e5;
  }

  33% {
    color: #00f7ff;
  }

  66% {
    color: #00ff80;
  }
}

@keyframes float {

  0%, 100% {
    transform: perspective(800px) rotateY(1deg) rotateX(1deg);
  }

  50% {
    transform: perspective(800px) rotateY(-1deg) rotateX(-1deg);
  }

}

@keyframes changeShadowColor {

  0%, 100% {
    box-shadow: 0 0 5px 2px #00b0e53a;
  }

  33% {
    box-shadow: 0 0 5px 2px #00f7ff3a;
  }

  66% {
    box-shadow: 0 0 5px 2px #00ff803a;
  }
}

@keyframes appear {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

@keyframes slideUp {

  from {
    bottom: 0%;
  }

  to {
    bottom: 10%;
  }
}


* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(29, 41, 37);
  background-image: url('/src/images/fancy-cushion.webp');
  background-blend-mode: darken;
  color: whitesmoke;
}

h2 {
  font-size: 3rem;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #3b3b3b;
  border-radius: 100vw;
  margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #00e5c6;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:active {
  background-color: #00ccff;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}
